body {
    background-color: black;
}

h1 {
    color: white;

}
#wrapper {
    display: flex;
    flex-direction: column;
    gap: 3vh; 
    align-items: center;
    margin-top: 10vh;
}

#grid-container {
    display: grid;
    border: 1px solid white;
}

.box {
    border: 0px solid grey;
    user-select: none; /*Fixes hold & drug bug */
}

#buttons {
    display: flex;
    gap: 1vw;
}

button {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    color: white;
}

.eraseBtnActive {
    background-color: white;
    color: black;
}

.addColor {
    background-color: azure;
}

.footer {
    position: fixed;
    bottom: 0;
    margin: 1vh;
    padding-top: 100px;
    width: 100%;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
    color: white;
    bottom: 0;
    opacity: 50%;

}

a {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: white;
}

#logo {
    height: 25px;
    background-color: white;
    border-radius: 20px;
}